{% load i18n %}
{% load staticfiles %}

<!-- FOOTER -->

<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-3">
                <p>Услуги и цены</p>
                <ul>
                    <li><a href="#">Стоимость услуг для юридических лиц</a></li>
                    <li><a href="#">Услуги для юридических лиц</a></li>
                    <li><a href="#">Стоимость услуг для физических лиц</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>Услуги и цены</p>
                <ul>
                    <li><a href="#">Услуги для физических лиц</a></li>
                    <li><a href="#">Услуги для юридических лиц</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>Полезные ссылки</p>
                <ul>
                    <li><a href="#">Все о бухгалтерском учете</a></li>
                    <li><a href="#">Налоги и бухгалтерский учет</a></li>
                    <li><a href="#">Бухгалтер 911</a></li>
                    <li><a href="#">Лига Закон</a></li>
                </ul>
            </div> -->
            <div class="col-sm-3">
                <p>Контактна інформація</p>

                {% include "_sys-footer.html" %}

            </div>
        </div>
    </div>
</footer>